{% extends "base.html" %}

<!-- title block------------------------------------------------------------>

{% block title %} loginF3 {% endblock %}

<!--style block-------------------------------------------------------------->
{% block style%}
   
{% endblock %}

<!-- body block-------------------------------------------------------------->
{% block body %}



{% endblock %}

<!--scripts block ------------------------------------------------------------>

{% block script %}
<script>
</script>
{% endblock%}