{% extends "base.html" %}

<!-- title block------------------------------------------------------------>

{% block title %}
LOG IN
{% endblock %}

<!--style block-------------------------------------------------------------->
{% block style%}
<style>
    .login_nav_a{   
        font:bold;
        color: black  !important;
    }
    
    #can_div{
    background-image: url("{{directory}}/convesbackground.png") ;
    background-repeat: no-repeat; 
    background-size:contain;
    max-width: 1200px;
    overflow: hidden;
    }

</style>
{% endblock %}

<!-- body block-------------------------------------------------------------->
{% block body %}
<body onload="init()">
    <form class="input_form" action="" method="POST"  width={{img_width}}>
    <h2>Authentication level 3<samp style="font-size:medium; float:right" > Step 3</samp> </h2>
    <hr>
    <h5> Upload your image <a href="uploaderlvl3">Upload</a></h5>
    <p> Then draw a pattern you can remember it!</p>


    <div id="can_div" >
        <canvas id="can"   width={{img_width}} height={{img_height}} ></canvas>
        <img id="canvasimg" hidden >
    </div>
   
    <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck" required>
          <label class="form-check-label" for="gridCheck">
        <p>I know & agree that this image and this pattern will be used the futrue to login in.</p>
        </label>
        </div>
        <hr>
      </div>

      
    <div class="buttons_div col-12">
        <input type="submit" value="Save" class="btn btn-lg btn-primary" onclick="save()">
        <input type="button" class="btn btn-secondary btn-lg" value="Refresh" onclick="refresh()">
    </div>
</form>
</body>
{% endblock %}

<!--scripts block ------------------------------------------------------------>

{% block script %}

<script type="text/javascript">
    
    function refresh() {
        location.reload();
    }

    var canvas, ctx, flag = false,
        prevX = 0,
        currX = 0,
        prevY = 0,
        currY = 0,
        dot_flag = false;

    var x = "black",
        y = 7;
    
    function init() {
        canvas = document.getElementById('can');
        ctx = canvas.getContext("2d");
        w = canvas.width;
        h = canvas.height;
    
        canvas.addEventListener("mousemove", function (e) {
            findxy('move', e)
        }, false);
        canvas.addEventListener("mousedown", function (e) {
            findxy('down', e)
        }, false);
        canvas.addEventListener("mouseup", function (e) {
            findxy('up', e)
        }, false);
        canvas.addEventListener("mouseout", function (e) {
            findxy('out', e)
        }, false);
    }
    
    
    
    
    function draw() {
        ctx.beginPath();
        ctx.moveTo(prevX, prevY);
        ctx.lineTo(currX, currY);
        ctx.strokeStyle = x;
        ctx.lineWidth = y;
        ctx.stroke();
        ctx.closePath();
    }
    
  
    
    function save() {
        document.getElementById("canvasimg").style.border = "2px solid";
        var dataURL = canvas.toDataURL();
        document.getElementById("canvasimg").src = dataURL;
    }
    
    function findxy(res, e) {
        if (res == 'down') {
            prevX = currX;
            prevY = currY;
            currX = e.clientX - canvas.offsetLeft;
            currY = e.clientY - canvas.offsetTop;
    
            flag = true;
            dot_flag = true;
            if (dot_flag) {
                ctx.beginPath();
                ctx.fillStyle = x;
                ctx.fillRect(currX, currY, 2, 2);
                ctx.closePath();
                dot_flag = false;
            }
        }
        if (res == 'up' || res == "out") {
            flag = false;
        }
        if (res == 'move') {
            if (flag) {
                prevX = currX;
                prevY = currY;
                currX = e.clientX - canvas.offsetLeft;
                currY = e.clientY - canvas.offsetTop;
                draw();
            }
        }
    }
    </script>
{% endblock%}