{% extends "base.html" %}

<!-- title block------------------------------------------------------------>

{% block title %} LOG IN {% endblock %}

<!--style block-------------------------------------------------------------->
{% block style%}
<style>
    .login_nav_a {
        font: bold;
        color: black !important;
    }
    #cbg_img{
        max-width: 100%;
    }
</style>
{% endblock %}

<!-- body block-------------------------------------------------------------->
{% block body %}
<form class="input_form" method="post" action="" enctype="multipart/form-data">
    <h2>Authentication level 3 <samp style="font-size:medium; float:right">Uploading Custom image</samp></h2>
    <hr>
    <h4>Select an image to upload</h4>
    <div class="input-group mb-3">
        <button  type="submit" class="btn btn-outline-primary" type="button"  >Upload </button>
        <input type="file" name="file" class="form-control" required>
      </div>  
    <img id="cbg_img" src="/{{directory}}/convesbackground.png"  >
    <hr>

    <a class="btn btn-lg btn-primary" href="signupF3"> Confirm image </a>

</form>
{% endblock %}

<!--scripts block ------------------------------------------------------------>

{% block script %}
<script>
</script>
{% endblock %}
